flows/Approve_Additional_Payment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>BTAGB</name>
        <label>BillToAccountGB</label>
        <locationX>1012</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billToAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BTCGB</name>
        <label>BillToContactGB</label>
        <locationX>849</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IGB_BTC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClientGB</name>
        <label>ClientGB</label>
        <locationX>1110</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HMICGB</name>
        <label>HiringMgrICGB</label>
        <locationX>675</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IGB_HM_IC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HMIHMGB</name>
        <label>HiringMgrIHMGB</label>
        <locationX>489</locationX>
        <locationY>317</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IGB_HM_IHM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JobGB</name>
        <label>JobGB</label>
        <locationX>1113</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>jobId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PlcGB</name>
        <label>PlcGB</label>
        <locationX>974</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>placementId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>POGB</name>
        <label>POGB</label>
        <locationX>1066</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>invoiceGroupById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IGB_PO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Approved</name>
        <label>Already Approved?</label>
        <locationX>21</locationX>
        <locationY>113</locationY>
        <defaultConnector>
            <targetReference>Lookup_Placement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Already_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Group_By</name>
        <label>Invoice Group By</label>
        <locationX>816</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>HMIHMGB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hiring Mgr (IHM)</defaultConnectorLabel>
        <rules>
            <name>Placement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceGroupBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Placement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PlcGB</targetReference>
            </connector>
            <label>Placement</label>
        </rules>
        <rules>
            <name>Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceGroupBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JobGB</targetReference>
            </connector>
            <label>Job</label>
        </rules>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceGroupBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClientGB</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceGroupBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POGB</targetReference>
            </connector>
            <label>PO #</label>
        </rules>
        <rules>
            <name>BIll_To_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceGroupBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill To Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BTAGB</targetReference>
            </connector>
            <label>BIll To Account</label>
        </rules>
        <rules>
            <name>Bill_To_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceGroupBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bill To Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BTCGB</targetReference>
            </connector>
            <label>Bill To Contact</label>
        </rules>
        <rules>
            <name>Hiring_Mgr_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceGroupBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiring Manager (Invoice Client)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HMICGB</targetReference>
            </connector>
            <label>Hiring Mgr (IC)</label>
        </rules>
    </decisions>
    <formulas>
        <name>IGB_BTC</name>
        <dataType>String</dataType>
        <expression>{!billToContactId}&amp;&apos;-&apos;&amp;{!billToAccountId}</expression>
    </formulas>
    <formulas>
        <name>IGB_HM_IC</name>
        <dataType>String</dataType>
        <expression>{!clientHMgrId}&amp;&apos;-&apos;&amp;{!clientId}&amp;&apos;IC&apos;</expression>
    </formulas>
    <formulas>
        <name>IGB_HM_IHM</name>
        <dataType>String</dataType>
        <expression>{!clientHMgrId}&amp;&apos;-&apos;&amp;{!clientId}&amp;&apos;IHM&apos;</expression>
    </formulas>
    <formulas>
        <name>IGB_PO</name>
        <dataType>String</dataType>
        <expression>{!clientId}&amp;&apos;-&apos;&amp;{!poNumber}</expression>
    </formulas>
    <formulas>
        <name>paycomShort</name>
        <dataType>String</dataType>
        <expression>left({!paycomCode},3)</expression>
    </formulas>
    <interviewLabel>Approve Additional Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Additional Payment</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>320</locationX>
        <locationY>116</locationY>
        <assignRecordIdToReference>newTXNId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Additional_Payment</targetReference>
        </connector>
        <inputAssignments>
            <field>Paycom_Earning_Code__c</field>
            <value>
                <elementReference>paycomShort</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Adjusted_BillRate__c</field>
            <value>
                <elementReference>billableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Adjusted_PayRate__c</field>
            <value>
                <elementReference>employeeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__BillRate__c</field>
            <value>
                <elementReference>billableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Bill_Multiplier__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Description__c</field>
            <value>
                <elementReference>payCodeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__EntryDate__c</field>
            <value>
                <elementReference>timesheetEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__HoursActutal__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Invoice_Group_By_ID__c</field>
            <value>
                <elementReference>invoiceGroupById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Invoice_Group_By__c</field>
            <value>
                <elementReference>invoiceGroupBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Invoice_Split__c</field>
            <value>
                <elementReference>invoiceSplit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Market__c</field>
            <value>
                <elementReference>market</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Multiplier__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__PayRate__c</field>
            <value>
                <elementReference>employeeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Pay_Code_ID__c</field>
            <value>
                <elementReference>payCodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Paycode__c</field>
            <value>
                <elementReference>payCodeShort</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Placement__c</field>
            <value>
                <elementReference>placementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Time_Sheet__c</field>
            <value>
                <elementReference>timesheetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Unit__c</field>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </inputAssignments>
        <object>tc9_ti__Transaction__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Additional_Payment</name>
        <label>Lookup Additional Payment</label>
        <locationX>22</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Approved</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAdditionalPaymentId</elementReference>
            </value>
        </filters>
        <object>Additional_Payment__c</object>
        <outputAssignments>
            <assignToReference>billableAmount</assignToReference>
            <field>Billable_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>employeeAmount</assignToReference>
            <field>Employee_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>employeeId</assignToReference>
            <field>Employee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>payCodeId</assignToReference>
            <field>Pay_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>placementId</assignToReference>
            <field>Placement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>timesheetId</assignToReference>
            <field>Timesheet__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Client</name>
        <label>Lookup Client</label>
        <locationX>327</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Timesheet</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>invoiceGroupBy</assignToReference>
            <field>tc9_ti__Invoice_Group_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>invoiceSplit</assignToReference>
            <field>tc9_ti__Invoice_Split__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Pay_Code</name>
        <label>Lookup Pay Code</label>
        <locationX>653</locationX>
        <locationY>10</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_TXN_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>payCodeId</elementReference>
            </value>
        </filters>
        <object>tc9_ti__PayCodeMaster__c</object>
        <outputAssignments>
            <assignToReference>payCodeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>paycomCode</assignToReference>
            <field>PayCom_Earning_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>payCodeShort</assignToReference>
            <field>tc9_ti__Paycode__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Placement</name>
        <label>Lookup Placement</label>
        <locationX>165</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Client</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>placementId</elementReference>
            </value>
        </filters>
        <object>ts2__Placement__c</object>
        <outputAssignments>
            <assignToReference>billToAccountId</assignToReference>
            <field>tc9_ti__Bill_To_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>billToContactId</assignToReference>
            <field>tc9_ti__Bill_To_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientHMgrId</assignToReference>
            <field>tc9_ti__Client_Hiring_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>market</assignToReference>
            <field>tc9_ti__Market__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>poNumber</assignToReference>
            <field>tc9_ti__Purchase_Order_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientId</assignToReference>
            <field>ts2__Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>jobId</assignToReference>
            <field>ts2__Job__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Timesheet</name>
        <label>Lookup Timesheet</label>
        <locationX>493</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Pay_Code</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>timesheetId</elementReference>
            </value>
        </filters>
        <object>tc9_ti__Time_Sheet__c</object>
        <outputAssignments>
            <assignToReference>timesheetEndDate</assignToReference>
            <field>tc9_ti__End_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_TXN_Record_Type</name>
        <label>Lookup TXN Record Type</label>
        <locationX>814</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Group_By</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet_Entry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tc9_ti__Transaction__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Additional_Payment</name>
        <label>Update Additional Payment</label>
        <locationX>301</locationX>
        <locationY>244</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAdditionalPaymentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>newTXNId</elementReference>
            </value>
        </inputAssignments>
        <object>Additional_Payment__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Already_Approved</name>
        <label>Error - Already Approved</label>
        <locationX>23</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Error: &lt;/B&gt;&lt;FONT COLOR=&quot;#000000&quot;&gt;This Additional Payment request has previously been approved and a transaction generated.  You cannot approve this record multiple times.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Additional_Payment</startElementReference>
    <status>Active</status>
    <variables>
        <name>billableAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>billToAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>billToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientHMgrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>employeeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>employeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceGroupBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceGroupById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceSplit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>market</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTXNId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payCodeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payCodeShort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paycomCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>placementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>poNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAdditionalPaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
