flows/Candidate_Registration_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Registration_Status_Options</name>
        <label>Registration Status Options</label>
        <locationX>333</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Reviewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistrationStatusField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SI</targetReference>
            </connector>
            <label>Reviewed</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistrationStatusField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_Reason</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Passed_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistrationStatusField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed On</stringValue>
                </rightValue>
            </conditions>
            <label>Passed On</label>
        </rules>
    </decisions>
    <description>URL test</description>
    <dynamicChoiceSets>
        <name>RegistrationRejectReasonPicklist</name>
        <dataType>String</dataType>
        <displayField>Registration_Reject_Reason__c</displayField>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RegRejectReason</assignToReference>
            <field>Registration_Reject_Reason__c</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegistrationStatusList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Registration_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegStatuspicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Registration_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>{!varContactID}</interviewLabel>
    <label>Candidate Registration Process</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SI</name>
        <label>Create SI</label>
        <locationX>217</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>SI_Created_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Screening_Interview__c</object>
    </recordCreates>
    <recordLookups>
        <name>FindCandidate</name>
        <label>FindCandidate</label>
        <locationX>153</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Reject_Reason</name>
        <label>Reject Reason</label>
        <locationX>456</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>Candidate_Updated_Success</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Rejected</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <elementReference>RegistrationStatusField</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Candidate_Updated_Success</name>
        <label>Candidate Updated Success</label>
        <locationX>457</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CandidateUpdated</name>
            <fieldText>Candidate Registration Status Updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Registration_Status</name>
        <label>Registration Status</label>
        <locationX>334</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Registration_Status_Options</targetReference>
        </connector>
        <fields>
            <name>RegistrationStatusField</name>
            <choiceReferences>RegStatuspicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Registration Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reviewer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UserName</elementReference>
            </defaultValue>
            <fieldText>Reviewer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SI_Created_Success</name>
        <label>SI Created Success</label>
        <locationX>214</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SISuccess</name>
            <fieldText>SI has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FindCandidate</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactIDvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactVarID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ContactIDvar.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>RegistrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RegRejectReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
