flows/Create_Bonus_Payment_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>picklistTimesheets</name>
        <dataType>String</dataType>
        <displayField>tc9_ti__End_Date__c</displayField>
        <filters>
            <field>tc9_ti__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>last2Months</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_ti__Placement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedPlacementId</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_ti__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>tc9_ti__Time_Sheet__c</object>
        <sortField>tc9_ti__End_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>billableAmount</name>
        <dataType>Currency</dataType>
        <expression>Round({!Employee_Bonus_Amount}*(1+({!Markup}/100)),2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>last2Months</name>
        <dataType>Date</dataType>
        <expression>TODAY()-61</expression>
    </formulas>
    <interviewLabel>Create Bonus Payment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Bonus Payment Record</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Additional_Payment</name>
        <label>Create Additional Payment</label>
        <locationX>182</locationX>
        <locationY>117</locationY>
        <inputAssignments>
            <field>Billable_Amount__c</field>
            <value>
                <elementReference>billableAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Amount__c</field>
            <value>
                <elementReference>Employee_Bonus_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>employeeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Markup_Percentage__c</field>
            <value>
                <elementReference>Markup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Code__c</field>
            <value>
                <elementReference>payCodeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Placement__c</field>
            <value>
                <elementReference>selectedPlacementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiter_Notes__c</field>
            <value>
                <elementReference>Recruiter_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timesheet__c</field>
            <value>
                <elementReference>Timesheet_Period_Ending</elementReference>
            </value>
        </inputAssignments>
        <object>Additional_Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Employee</name>
        <label>Lookup Employee</label>
        <locationX>20</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Pay_Code</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>employeeId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>employeeFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>employeeLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Pay_Code</name>
        <label>Lookup Pay Code</label>
        <locationX>17</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bonus_Details</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus</stringValue>
            </value>
        </filters>
        <object>tc9_ti__PayCodeMaster__c</object>
        <outputAssignments>
            <assignToReference>payCodeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Placement</name>
        <label>Lookup Placement</label>
        <locationX>21</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Employee</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedPlacementId</elementReference>
            </value>
        </filters>
        <object>ts2__Placement__c</object>
        <outputAssignments>
            <assignToReference>employeeId</assignToReference>
            <field>ts2__Employee__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Bonus_Details</name>
        <label>Bonus Details</label>
        <locationX>183</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Additional_Payment</targetReference>
        </connector>
        <fields>
            <name>displayEmployeeName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Employee:&lt;/B&gt; {!employeeFirstName} {!employeeLastName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Timesheet_Period_Ending</name>
            <choiceReferences>picklistTimesheets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Timesheet Period Ending</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Employee_Bonus_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Employee Bonus Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Markup</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>25.0</numberValue>
            </defaultValue>
            <fieldText>Markup %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Recruiter_Notes</name>
            <fieldText>Recruiter Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Placement</startElementReference>
    <status>Active</status>
    <variables>
        <name>employeeFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employeeLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedTimesheets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Time_Sheet__c</objectType>
    </variables>
    <variables>
        <name>selectedPlacementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
