flows/Event_Created.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;APXT_BPM__Conductor__c;Account;Additional_Payment__c;Asset;AssetRelationship;Billings__c;Campaign;Case;CloudHistory__Cloud_History_Configuration__c;Contact_Update_Record__c;Contract;Deskcom__Case__c;Feedback__c;Interview_Prep__c;JSO2__Accomodation__c;JSO2__Benefits__c;JSO2__Consents__c;JSO2__Dependent__c;JSO2__Direct_Deposit__c;JSO2__Driver_s_License__c;JSO2__EEO__c;JSO2__Emergency_Contact__c;JSO2__File__c;JSO2__I_9__c;JSO2__State_Payroll_Tax__c;JSO2__W_4__c;JSPresent__Presentation__c;Opportunity;Premier_Team_Member__c;Product2;SFDC_Request__c;Screening_Interview__c;Sertifi2_0__TestContract__c;Solution;bat__Activity_view__c;bat__Activity_view_query__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;jcal__Meeting_Slot__c;jcal__Meeting__c;jsinq__Inquiry__c;jsjo__Job_Opportunity__c;rh2__PS_Export_Rollups__c;rh2__PS_Rollup_Dummy__c;smagicinteract__Error_Log__c;smagicinteract__Incoming_Alert_Configuration__c;smagicinteract__Incoming_SMS__c;smagicinteract__Optout_Settings__c;smagicinteract__SMS_Batch_Execution_Tracker__c;smagicinteract__SMS_Schedule__c;smagicinteract__SMS_Template__c;smagicinteract__SenderId_Profile_Map__c;smagicinteract__forward_config__c;smagicinteract__incoming_lookup_config__c;smagicinteract__lookup_config__c;smagicinteract__smsMagic__c;spExams__Exam__c;tc9_ti__Award_Master__c;tc9_ti__Candidate_Location__c;tc9_ti__Client_Group__c;tc9_ti__Consolidated_Invoice__c;tc9_ti__Consolidated_Line__c;tc9_ti__Debug_Header__c;tc9_ti__Debug_Log__c;tc9_ti__Deduction_Template__c;tc9_ti__Deduction__c;tc9_ti__Expense__c;tc9_ti__Invoice_Payment__c;tc9_ti__Invoice_Template__c;tc9_ti__Level__c;tc9_ti__Location__c;tc9_ti__Occupation__c;tc9_ti__Payrun_Record__c;tc9_ti__Payrun__c;tc9_ti__Rate_Calculation_Rules__c;tc9_ti__Rate_Card__c;tc9_ti__Rule__c;tc9_ti__Shift__c;tc9_ti__Skills_Family__c;tc9_ti__Time_Sheet__c;ts2__Application__c;ts2__CompanyListLink__c;ts2__CompanyList__c;ts2__Contracts__c;ts2__Descriptions__c;ts2__Education_History__c;ts2__Employment_History__c;ts2__Engagement_Stage__c;ts2__Interview__c;ts2__Job_Order_Transalation__c;ts2__Job__c;ts2__Offer__c;ts2__Placement__c;ts2__Project_Job__c;ts2__Reference__c;ts2__SearchAgent__c;ts2__Source__c;ts2__Submittal__c;ts2__s_NamedSearch__c;ts2__s_ResultItem__c;ts2__s_ResultSet__c;ts2__s_SearchConfig__c;ts2__s_SearchCriteria__c;ts2__s_SearchFilter__c;ts2__s_SearchLog__c;ts2__s_SearchSkill__c;ts2__s_UserListLink__c;ts2__s_UserList__c;ts2extams__Custom_stage_1__c;ts2extams__Custom_stage_2__c;ts2extams__Custom_stage_3__c;ts2extams__Custom_stage_4__c;ts2extams__Custom_stage_5__c;ts2rb__CompanyListLink__c;ts2rb__CompanyList__c;yoxel__Conversation__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>INT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Interview Event Created</label>
        </rules>
    </decisions>
    <interviewLabel>Event_Created-1_InterviewLabel</interviewLabel>
    <label>Event Created</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Event]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>CI Event Creation</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Participants</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Participants__c</field>
            <value>
                <elementReference>myVariable_current.ts2__Job__r.ts2__Recruiter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact;Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhoId</field>
            <value>
                <elementReference>myVariable_current.ts2__Application__r.ts2__Candidate_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
