flows/Fyre_Req_to_Job.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Does_job_already_exist</name>
        <label>Does job already exist?</label>
        <locationX>98</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Create_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, new job</defaultConnectorLabel>
        <rules>
            <name>Yes_job_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_existing_job_closed</targetReference>
            </connector>
            <label>Yes, job already exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_existing_job_closed</name>
        <label>Is existing job closed?</label>
        <locationX>97</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Update_Req_to_trigger_Process_builder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_job_is_closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>jobstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Filled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>jobstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <label>Yes, job is closed</label>
        </rules>
    </decisions>
    <description>Added Cancelled and Declined for checking job existing</description>
    <interviewLabel>Fyre Req to Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fyre Req to Job</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Job</name>
        <label>Create Job</label>
        <locationX>337</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Update_Req_to_trigger_Process_builder</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_Check_Required__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_EndTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fyre_Sync_Requisition__c</field>
            <value>
                <elementReference>FyreRequisition.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Candidate_Manager__c</field>
            <value>
                <stringValue>00540000002NWYf</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Source__c</field>
            <value>
                <stringValue>Client Call In - Returning Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Job_Description__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_DescriptionHtml__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Status__c</field>
            <value>
                <stringValue>ASAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_PostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01240000000MJ0k</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shift__c</field>
            <value>
                <stringValue>Full-Time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Details__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_StartTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_AddressLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_role__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_Qualities__c</field>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Base_Bill_Rate__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__Rates_BillRateMax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Base_Pay_Rate__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__Rates_PayRateMax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Bill_To_Account__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Bill_To_Contact__c</field>
            <value>
                <stringValue>0034000001lRXC1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Account__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Department__c</field>
            <value>
                <stringValue>Contingent Workforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Estimated_End_Date__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Estimated_Start_Date__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Location__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Min_Bill_Rate__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__Rates_BillRateMin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Min_Pay_Rate__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__Rates_PayRateMin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Openings__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__ReqDetails_TotalOpenings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Recruiter__c</field>
            <value>
                <stringValue>00540000002NWYf</stringValue>
            </value>
        </inputAssignments>
        <object>ts2__Job__c</object>
    </recordCreates>
    <recordLookups>
        <name>Existing_Job_Check</name>
        <label>Existing Job Check</label>
        <locationX>96</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_job_already_exist</targetReference>
        </connector>
        <filters>
            <field>Fyre_Sync_Requisition__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FyreRequisition.Id</elementReference>
            </value>
        </filters>
        <object>ts2__Job__c</object>
        <outputAssignments>
            <assignToReference>ExistingJobId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>jobstatus</assignToReference>
            <field>ts2__Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Req_to_trigger_Process_builder</name>
        <label>Update Req to trigger Process builder</label>
        <locationX>98</locationX>
        <locationY>450</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FyreRequisition.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FyreSync__Status__c</field>
            <value>
                <elementReference>FyreRequisition.FyreSync__Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>FyreSync__Requisition__c</object>
    </recordUpdates>
    <startElementReference>Existing_Job_Check</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExistingJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FyreRequisition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FyreSync__Requisition__c</objectType>
    </variables>
    <variables>
        <name>jobstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
