flows/Purchase_Order_Amount_Billed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Total_Billable</name>
        <label>Update Total Billable</label>
        <locationX>273</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>totalBilled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTransaction.tc9_ti__TotalBill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Transactions_Found</name>
        <label>Transactions Found?</label>
        <locationX>208</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Update_Placement_With_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>txnYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedTransactions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Transactions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update placement purchase order amount billed with timesheet is processed or reverted to new</description>
    <interviewLabel>Purchase Order Amount Billed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order Amount Billed</label>
    <loops>
        <name>Loop_Transactions</name>
        <label>Loop Transactions</label>
        <locationX>371</locationX>
        <locationY>154</locationY>
        <assignNextValueToReference>currentTransaction</assignNextValueToReference>
        <collectionReference>relatedTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Total_Billable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Placement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Placement</name>
        <label>Lookup Placement</label>
        <locationX>34</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Transactions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </filters>
        <object>ts2__Placement__c</object>
        <outputAssignments>
            <assignToReference>plcPONumber</assignToReference>
            <field>tc9_ti__Purchase_Order_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Timesheet</name>
        <label>Lookup Timesheet</label>
        <locationX>31</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Placement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </filters>
        <object>tc9_ti__Time_Sheet__c</object>
        <outputAssignments>
            <assignToReference>tsPlacement</assignToReference>
            <field>tc9_ti__Placement__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Transactions</name>
        <label>Lookup Transactions</label>
        <locationX>36</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transactions_Found</targetReference>
        </connector>
        <filters>
            <field>Purchase_Order_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plcPONumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>tc9_ti__Placement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </filters>
        <object>tc9_ti__Transaction__c</object>
        <outputReference>relatedTransactions</outputReference>
        <queriedFields>tc9_ti__TotalBill__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Placement</name>
        <label>Update Placement</label>
        <locationX>461</locationX>
        <locationY>271</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Amount_Billed__c</field>
            <value>
                <elementReference>totalBilled</elementReference>
            </value>
        </inputAssignments>
        <object>ts2__Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement_With_Zero</name>
        <label>Update Placement With Zero</label>
        <locationX>288</locationX>
        <locationY>338</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Amount_Billed__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ts2__Placement__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Timesheet</startElementReference>
    <status>Active</status>
    <variables>
        <name>currentTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>plcPONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>selectedTimesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalBilled</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tsPlacement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
