flows/Purchase_Order_Amount_Billed_Credit_or_Rebill.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Initialise_Inv_Amount</name>
        <label>Initialise Inv Amount</label>
        <locationX>533</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>invAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prevPlcId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInvTransaction.tc9_ti__Placement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Inv_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Plc_Id_Amount</name>
        <label>Update Plc Id &amp; Amount</label>
        <locationX>378</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>prevPlcId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentInvTransaction.tc9_ti__Placement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentInvTransaction.tc9_ti__TotalBill__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Inv_Transactions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inv_Transactions_Found</name>
        <label>Inv Transactions Found?</label>
        <locationX>193</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>invTXNYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedInvTransactions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Inv_Transactions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_Counter_1</name>
        <label>Loop Counter = 1?</label>
        <locationX>266</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Same_as_Prev_Placement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>loopCountYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Plc_Id_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_as_Prev_Placement</name>
        <label>Same as Prev Placement?</label>
        <locationX>94</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Lookup_Placement_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>samePlcYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevPlcId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentInvTransaction.tc9_ti__Placement__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Plc_Id_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>newCreditRebillAmount</name>
        <dataType>Currency</dataType>
        <expression>If(ISBLANK({!currentCreditRebill}),0+{!invAmount},{!currentCreditRebill}+{!invAmount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Purchase Order Amount Billed - Credit or Rebill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order Amount Billed - Credit or Rebill</label>
    <loops>
        <name>Loop_Inv_Transactions</name>
        <label>Loop Inv Transactions</label>
        <locationX>366</locationX>
        <locationY>62</locationY>
        <assignNextValueToReference>currentInvTransaction</assignNextValueToReference>
        <collectionReference>relatedInvTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Counter_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Final_Placement_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Final_Placement_Value</name>
        <label>Lookup Final Placement Value</label>
        <locationX>581</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Final_Placement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevPlcId</elementReference>
            </value>
        </filters>
        <object>ts2__Placement__c</object>
        <outputAssignments>
            <assignToReference>currentCreditRebill</assignToReference>
            <field>Purchase_Order_Credit_Rebill_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Inv_Transactions</name>
        <label>Lookup Inv Transactions</label>
        <locationX>40</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inv_Transactions_Found</targetReference>
        </connector>
        <filters>
            <field>Purchase_Order_Limit_Monitoring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_Order_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>tc9_ti__Consolidated_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedConInvId</elementReference>
            </value>
        </filters>
        <object>tc9_ti__Transaction__c</object>
        <outputReference>relatedInvTransactions</outputReference>
        <queriedFields>tc9_ti__Placement__c</queriedFields>
        <queriedFields>tc9_ti__TotalBill__c</queriedFields>
        <sortField>tc9_ti__Placement__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Placement_Value</name>
        <label>Lookup Placement Value</label>
        <locationX>153</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Placement_Credit_Amount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentInvTransaction.tc9_ti__Placement__c</elementReference>
            </value>
        </filters>
        <object>ts2__Placement__c</object>
        <outputAssignments>
            <assignToReference>currentCreditRebill</assignToReference>
            <field>Purchase_Order_Credit_Rebill_Amount__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Final_Placement</name>
        <label>Update Final Placement</label>
        <locationX>764</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Update_Invoice_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>prevPlcId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Credit_Rebill_Amount__c</field>
            <value>
                <elementReference>newCreditRebillAmount</elementReference>
            </value>
        </inputAssignments>
        <object>ts2__Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>85</locationX>
        <locationY>158</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedConInvId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Process_Run__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_ti__Consolidated_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_0</name>
        <label>Update Invoice</label>
        <locationX>766</locationX>
        <locationY>177</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedConInvId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Process_Run__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>tc9_ti__Consolidated_Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement_Credit_Amount</name>
        <label>Update Placement Credit Amount</label>
        <locationX>335</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>Initialise_Inv_Amount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentInvTransaction.tc9_ti__Placement__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Credit_Rebill_Amount__c</field>
            <value>
                <elementReference>newCreditRebillAmount</elementReference>
            </value>
        </inputAssignments>
        <object>ts2__Placement__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Inv_Transactions</startElementReference>
    <status>Active</status>
    <variables>
        <name>currentCreditRebill</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentInvTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>currentTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>invAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>plcCreditRebillAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>plcId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcPONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prevPlcId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedInvTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>relatedTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>selectedConInvId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTimesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalBilled</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tsPlacement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
