flows/Sliding_Scale_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Custom_Sliding_Scale</name>
        <label>Custom Sliding Scale</label>
        <locationX>261</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sliding_Scale_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Custom</stringValue>
                </rightValue>
            </conditions>
            <label>Custom</label>
        </rules>
        <rules>
            <name>Standard_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sliding_Scale_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard - 25%</stringValue>
                </rightValue>
            </conditions>
            <label>Standard - 25%</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Choice2</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sliding_Scale_if_Lines__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_field_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>of_Tiers</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>dependent_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC_Line_1_Hours_Start__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist__mdt</object>
        <outputAssignments>
            <assignToReference>varStart</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceTiers</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filters>
            <field>Controlling_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sliding_Scale_Type__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Controlling_field_value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sliding_Scale_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_Name_for_Dependent_Picklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>dependent_field_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sliding_Scale_if_Lines__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist__mdt</object>
        <outputAssignments>
            <assignToReference>varTiers</assignToReference>
            <field>Dependent_Field_Value__c</field>
        </outputAssignments>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NumberofTiers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sliding_Scale_if_Lines__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SlidingScaleType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sliding_Scale_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Sliding Scale Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sliding Scale Type</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>521</locationX>
        <locationY>186</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sliding_Scale_Tier_2__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>MSA_Sliding_Scale_Type</name>
        <label>MSA Sliding Scale Type</label>
        <locationX>282</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sliding_Scale_Details</targetReference>
        </connector>
        <fields>
            <name>Sliding_Scale_Type</name>
            <choiceReferences>SlidingScaleType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sliding Scale Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sliding_Scale_Details</name>
        <label>Sliding Scale Details</label>
        <locationX>517</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>of_Tiers</name>
            <choiceReferences>ChoiceTiers</choiceReferences>
            <dataType>String</dataType>
            <fieldText># of Tiers</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Sliding_Scale_Details</startElementReference>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varTiers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>NumberofTiers</elementReference>
        </value>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>SlidingScaleType</elementReference>
        </value>
    </variables>
</Flow>
