flows/Test_Forward_Candidates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>270</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>shortIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trimmedIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_URL</name>
        <label>Create URL</label>
        <locationX>449</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>openURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/CandidateReview?SApps=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>openURL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>shortIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_URL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Delimited_Ids</name>
        <label>Update Delimited Ids</label>
        <locationX>50</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>delimitedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>~</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>delimitedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentSubmittal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Job_Submittal</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>jobURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260))&amp;{!lastJobId}</expression>
    </formulas>
    <formulas>
        <name>trimmedIds</name>
        <dataType>String</dataType>
        <expression>Mid({!delimitedIds},2,999)</expression>
    </formulas>
    <interviewLabel>Test Forward Candidates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Forward Candidates</label>
    <loops>
        <name>Loop_Ids</name>
        <label>Loop Ids</label>
        <locationX>53</locationX>
        <locationY>25</locationY>
        <assignNextValueToReference>currentSubmittal</assignNextValueToReference>
        <collectionReference>SelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Delimited_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Job_Submittal</name>
        <label>Lookup Job Submittal</label>
        <locationX>213</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Ids</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSubmittal.Id</elementReference>
            </value>
        </filters>
        <object>ts2__Submittal__c</object>
        <outputAssignments>
            <assignToReference>lastJobId</assignToReference>
            <field>ts2__Job__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Display_URL</name>
        <label>Display URL</label>
        <locationX>530</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;{!openURL}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Open Forward Candidates Window&lt;/B&gt;&lt;/A&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>goToJob</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;{!jobURL}&quot; TARGET=&quot;_self&quot;&gt;Return to Job Order&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Loop_Ids</startElementReference>
    <status>Active</status>
    <variables>
        <name>currentSubmittal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ts2__Submittal__c</objectType>
    </variables>
    <variables>
        <name>delimitedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>openURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ts2__Submittal__c</objectType>
    </variables>
    <variables>
        <name>shortIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
