flows/Test_sfdc_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CountOfJobOrder</name>
        <label>CountOfJobOrder</label>
        <locationX>380</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>Account.Total_Number_Job_Orders__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTheCount</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test sfdc 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test sfdc 1</label>
    <loops>
        <name>LoopThruEachJob</name>
        <label>LoopThruEachJob</label>
        <locationX>242</locationX>
        <locationY>227</locationY>
        <assignNextValueToReference>sObjVarJobOrder</assignNextValueToReference>
        <collectionReference>sObjCollVarJobOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountOfJobOrder</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupJobOrders</name>
        <label>LookupJobOrders</label>
        <locationX>239</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThruEachJob</targetReference>
        </connector>
        <filters>
            <field>ts2__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <object>ts2__Job__c</object>
        <outputReference>sObjCollVarJobOrder</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTheCount</name>
        <label>UpdateTheCount</label>
        <locationX>564</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>LoopThruEachJob</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <startElementReference>LookupJobOrders</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CountJobOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sObjCollVarJobOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ts2__Job__c</objectType>
    </variables>
    <variables>
        <name>sObjVarJobOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ts2__Job__c</objectType>
    </variables>
</Flow>
