flows/Weekly_Timesheet_Entry.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_DT_to_Collection</name>
        <label>Add DT to Collection</label>
        <locationX>439</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newTXNcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>buildTXN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Sick_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_HOL_OFF_to_Collection</name>
        <label>Add HOL OFF to Collection</label>
        <locationX>763</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>newTXNcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>buildTXN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Holiday_Worked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_HOL_WRK_to_Collection</name>
        <label>Add HOL WRK to Collection</label>
        <locationX>950</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>newTXNcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>buildTXN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OT_to_Collection</name>
        <label>Add OT to Collection</label>
        <locationX>252</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>newTXNcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>buildTXN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Double_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_REG_to_Collection</name>
        <label>Add REG to Collection</label>
        <locationX>96</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>newTXNcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>buildTXN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Overtime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SICK_to_Collection</name>
        <label>Add SICK to Collection</label>
        <locationX>603</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>newTXNcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>buildTXN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Holiday_Off</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_TSEs</name>
        <label>Add to Update TSEs</label>
        <locationX>1267</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>tseUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_TSEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_DT</name>
        <label>build DT</label>
        <locationX>382</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>buildTXN.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01240000000UX1X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjustment_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Bill_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__EntryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsDateEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__HoursActutal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Double_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceGroupById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceGroupBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Pay_Code_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a064000000iY0cP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Paycode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__TaxID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0D4000000DjkkG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_DT_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_HOL_OFF</name>
        <label>build HOL OFF</label>
        <locationX>721</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>buildTXN.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01240000000UX1X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjustment_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Bill_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__EntryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsDateEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__HoursActutal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Holiday_Off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceGroupById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceGroupBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Pay_Code_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0640000019XfRg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Paycode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOL OFF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__TaxID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0D4000000DjkkG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_HOL_OFF_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_HOL_WRK</name>
        <label>build HOL WRK</label>
        <locationX>889</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>buildTXN.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01240000000UX1X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjustment_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Bill_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__EntryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsDateEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__HoursActutal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Holiday_Worked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceGroupById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceGroupBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Pay_Code_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0640000019XfRl</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Paycode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOL WRK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__TaxID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0D4000000DjkkG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_HOL_WRK_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_OT</name>
        <label>build OT</label>
        <locationX>220</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>buildTXN.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01240000000UX1X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjustment_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Bill_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__EntryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsDateEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__HoursActutal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overtime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceGroupById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceGroupBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult15</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Pay_Code_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a064000000gziyV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Paycode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__TaxID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0D4000000DjkkG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OT_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_REG</name>
        <label>build REG</label>
        <locationX>50</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>buildTXN.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01240000000UX1X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjustment_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Bill_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__EntryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsDateEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__HoursActutal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regular</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceGroupById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceGroupBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Pay_Code_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a064000000gziyQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Paycode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__TaxID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0D4000000DjkkG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_REG_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>build_SICK</name>
        <label>build SICK</label>
        <locationX>551</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>buildTXN.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01240000000UX1X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjusted_PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Adjustment_Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__BillRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcBillRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Bill_Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multSICK</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsCandidate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__EntryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsDateEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__HoursActutal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sick_Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invoiceGroupById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Group_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceGroupBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Invoice_Split__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientInvoiceSplit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcMarket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Multiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mult1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__PayRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcPayRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Pay_Code_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a064000000mNu73</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Paycode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sick</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Placement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__TaxID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0D4000000DjkkG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Time_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.tc9_ti__Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buildTXN.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plcCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SICK_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateTSE_Values</name>
        <label>updateTSE Values</label>
        <locationX>1291</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>currentTSE.tc9_ti__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTSE.tc9_ti__Processed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTSE.tc9_ti__Entry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTSE.tc9_ti__Total_Time_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailyHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTSE.tc9_ti__Total_Time_mins__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailyMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentTSE.tc9_ti__Total_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailyTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_TSEs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Double_Time</name>
        <label>Create Double Time?</label>
        <locationX>361</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Create_Sick_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>dtYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Double_Time</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>build_DT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Holiday_Off</name>
        <label>Create Holiday Off</label>
        <locationX>681</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Create_Holiday_Worked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>holidayOffYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Holiday_Off</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>build_HOL_OFF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Holiday_Worked</name>
        <label>Create Holiday Worked</label>
        <locationX>848</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Create_Transactions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>holidayWorkedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Holiday_Worked</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>build_HOL_WRK</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Overtime</name>
        <label>Create Overtime</label>
        <locationX>206</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Create_Double_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>otYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Overtime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>build_OT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Regular</name>
        <label>Create Regular?</label>
        <locationX>51</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Create_Overtime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Regular</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>build_REG</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Sick_Hours</name>
        <label>Create Sick Hours?</label>
        <locationX>512</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Create_Holiday_Off</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>sickYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sick_Hours</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>build_SICK</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>dailyHours</name>
        <dataType>Number</dataType>
        <expression>Floor(Floor({!totalTime})/{!tseCount})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dailyMinutes</name>
        <dataType>Number</dataType>
        <expression>Round((({!totalTime}/{!tseCount})-{!dailyHours})*60,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dailyTotal</name>
        <dataType>Number</dataType>
        <expression>round({!totalTime}/{!tseCount},2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>invoiceGroupById</name>
        <dataType>String</dataType>
        <expression>CASE({!clientInvoiceGroupBy},&quot;Client&quot;,{!plcClient},
&quot;Placement&quot;,{!tsPlacement},
&quot;Job&quot;,{!plcJob},
&quot;Bill To Contact&quot;,{!plcBillToContact}&amp;&apos;-&apos;&amp;{!plcBillToAccount},
&quot;Hiring Manager (Invoice Client)&quot;,{!plcClientHiringManager}&amp;&apos;-&apos;&amp;{!plcClient},
&quot;PO Number&quot;,{!plcClient}&amp;&apos;-&apos;&amp;{!plcPONumber},
&quot;Bill To Account&quot;,{!plcBillToContact}&amp;&apos;-&apos;&amp;{!plcBillToAccount},
&quot;Hiring Manager (Invoice Hiring Manager)&quot;,{!plcClientHiringManager}&amp;&apos;-&apos;&amp;{!plcClient},
{!tsPlacement})</expression>
    </formulas>
    <formulas>
        <name>mult0</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mult1</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mult15</name>
        <dataType>Number</dataType>
        <expression>1.50</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>mult2</name>
        <dataType>Number</dataType>
        <expression>2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>multSICK</name>
        <dataType>Number</dataType>
        <expression>If({!Sick_Pay_is_Billable}=TRUE,1,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>totalTime</name>
        <dataType>Number</dataType>
        <expression>{!Double_Time}+{!Holiday_Off}+{!Holiday_Worked}+{!Overtime}+{!Regular}+{!Sick_Hours}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Weekly Timesheet Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weekly Timesheet Entry</label>
    <loops>
        <name>Loop_TSEs</name>
        <label>Loop TSEs</label>
        <locationX>1091</locationX>
        <locationY>425</locationY>
        <assignNextValueToReference>currentTSE</assignNextValueToReference>
        <collectionReference>relatedTSEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateTSE_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_TSEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transactions</name>
        <label>Create Transactions</label>
        <locationX>1019</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Lookup_TSEs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Transaction_Creation_Error</targetReference>
        </faultConnector>
        <inputReference>newTXNcollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Candidate</name>
        <label>Lookup Candidate</label>
        <locationX>207</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Placement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsCandidate</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Client</name>
        <label>Lookup Client</label>
        <locationX>209</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inputTimesheet</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plcClient</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>clientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientBillingEntity</assignToReference>
            <field>tc9_ti__Billing_Entity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientInvoiceContact</assignToReference>
            <field>tc9_ti__Invoice_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientInvoiceGroupBy</assignToReference>
            <field>tc9_ti__Invoice_Group_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>clientInvoiceSplit</assignToReference>
            <field>tc9_ti__Invoice_Split__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Placement</name>
        <label>Lookup Placement</label>
        <locationX>355</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Placement</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </filters>
        <object>ts2__Placement__c</object>
        <outputAssignments>
            <assignToReference>plcCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcDTBill</assignToReference>
            <field>DT_Bill_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcDTPay</assignToReference>
            <field>DT_Pay_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcOTBill</assignToReference>
            <field>OT_Bill_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcOTPay</assignToReference>
            <field>OT_Pay_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcBillRate</assignToReference>
            <field>tc9_ti__Base_Bill_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcPayRate</assignToReference>
            <field>tc9_ti__Base_Pay_Rate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcBillToAccount</assignToReference>
            <field>tc9_ti__Bill_To_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcBillToContact</assignToReference>
            <field>tc9_ti__Bill_To_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcClientHiringManager</assignToReference>
            <field>tc9_ti__Client_Hiring_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcMarket</assignToReference>
            <field>tc9_ti__Market__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcPaySchedule</assignToReference>
            <field>tc9_ti__Pay_Schedule__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcPONumber</assignToReference>
            <field>tc9_ti__Purchase_Order_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcClient</assignToReference>
            <field>ts2__Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcHiringManager</assignToReference>
            <field>ts2__Hiring_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>plcJob</assignToReference>
            <field>ts2__Job__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Timesheet</name>
        <label>Lookup Timesheet</label>
        <locationX>52</locationX>
        <locationY>11</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Candidate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </filters>
        <object>tc9_ti__Time_Sheet__c</object>
        <outputAssignments>
            <assignToReference>tsName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tseCount</assignToReference>
            <field>TSE_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tsCandidate</assignToReference>
            <field>tc9_ti__Candidate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tsEndDate</assignToReference>
            <field>tc9_ti__End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tsDateEndDate</assignToReference>
            <field>tc9_ti__End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tsPlacement</assignToReference>
            <field>tc9_ti__Placement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tsStartDate</assignToReference>
            <field>tc9_ti__Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>tsStatus</assignToReference>
            <field>tc9_ti__Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_TSEs</name>
        <label>Lookup TSEs</label>
        <locationX>1084</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_TSEs</targetReference>
        </connector>
        <filters>
            <field>tc9_ti__Time_Sheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </filters>
        <object>tc9_ti__Time_Sheet_Entry__c</object>
        <outputReference>relatedTSEs</outputReference>
        <queriedFields>tc9_ti__Status__c</queriedFields>
        <queriedFields>tc9_ti__Processed_Date__c</queriedFields>
        <queriedFields>tc9_ti__Total_Time_hours__c</queriedFields>
        <queriedFields>tc9_ti__Total_Time_mins__c</queriedFields>
        <queriedFields>tc9_ti__Total_Hours__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Placement</name>
        <label>Update Placement</label>
        <locationX>354</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>Lookup_Client</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Placement</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_ti__Timesheet_Entry_Format__c</field>
            <value>
                <stringValue>Total Hours</stringValue>
            </value>
        </inputAssignments>
        <object>ts2__Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placement_0</name>
        <label>Update Placement</label>
        <locationX>945</locationX>
        <locationY>55</locationY>
        <faultConnector>
            <targetReference>Placement_Update_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tsPlacement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_ti__Timesheet_Entry_Format__c</field>
        </inputAssignments>
        <object>ts2__Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timesheet</name>
        <label>Update Timesheet</label>
        <locationX>1139</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>Update_Placement_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Timesheet_Update_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTimesheetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tc9_ti__Generate_Transaction__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Last_Approve_on_Behalf__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Manual_Approval_Reason__c</field>
            <value>
                <stringValue>Weekly Timesheet Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tc9_ti__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>tc9_ti__Time_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TSEs</name>
        <label>Update TSEs</label>
        <locationX>1193</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Update_Timesheet</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Timesheet_Entry_Update_Error</targetReference>
        </faultConnector>
        <inputReference>tseUpdates</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Updating_Placement</name>
        <label>Error Updating Placement</label>
        <locationX>513</locationX>
        <locationY>106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>plcError1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Whilst trying to update the Placement&amp;apos;s Timesheet Entry Format to &amp;apos;Total Hours&amp;apos; the following error was encountered:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!$Flow.FaultMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>inputTimesheet</name>
        <label>inputTimesheet</label>
        <locationX>54</locationX>
        <locationY>105</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Regular</targetReference>
        </connector>
        <fields>
            <name>displayTSName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Timesheet: {!tsName} &lt;/B&gt;{!tsStartDate} to {!tsEndDate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Candidate: &lt;/B&gt;{!contactFirstName} {!contactLastName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Placement: &lt;/B&gt;{!plcName} {!clientName}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayBlankLine1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayRates</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Helvetica&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Base Pay Rate: &lt;/B&gt;{!plcPayRate}  &lt;B&gt;Base Bill Rate: &lt;/B&gt;{!plcBillRate}&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>blankLine2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Regular</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Regular</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Overtime</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Overtime</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Double_Time</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Double Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>displayBlankLine2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sick_Hours</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Sick Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Sick_Pay_is_Billable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Sick Hours are Billable?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayBlankLine3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Holiday_Off</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Holiday Off</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Holiday_Worked</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Holiday Worked</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Placement_Update_Error</name>
        <label>Placement Update Error</label>
        <locationX>1164</locationX>
        <locationY>28</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>plcError2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Whilst trying to reset the Timesheet Entry Format field on the related Placement the following error was encountered:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!$Flow.FaultMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Timesheet_Entry_Update_Error</name>
        <label>Timesheet Entry Update Error</label>
        <locationX>1363</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>tseError1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Whilst trying to update the related Timesheet Entries the following error was encountered:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!$Flow.FaultMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Timesheet_Update_Error</name>
        <label>Timesheet Update Error</label>
        <locationX>1335</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>tsError1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Whilst trying to update the Timesheet record the following error was encountered:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!$Flow.FaultMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transaction_Creation_Error</name>
        <label>Transaction Creation Error</label>
        <locationX>793</locationX>
        <locationY>94</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txnError1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Whilst trying to create Transactions the following error was encountered:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!$Flow.FaultMessage}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Timesheet</startElementReference>
    <status>Active</status>
    <variables>
        <name>buildTXN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>clientBillingEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientInvoiceContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientInvoiceGroupBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientInvoiceSplit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Time_Sheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>dtMult</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>newDTTXN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newHolTXN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newHolWTXN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOTTXN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRegTXNId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newSickTXN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newTXNcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Transaction__c</objectType>
    </variables>
    <variables>
        <name>otMult</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.5</numberValue>
        </value>
    </variables>
    <variables>
        <name>plcBillRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>plcBillToAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcBillToContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcClientHiringManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcDTBill</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>plcDTPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>plcHiringManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcMarket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcOTBill</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>plcOTPay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>plcPayRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>plcPaySchedule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plcPONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>regMult</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>relatedTSEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Time_Sheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>selectedTimesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thisTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Time_Sheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>tsCandidate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tsDateEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>tsEndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tseUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>tc9_ti__Time_Sheet_Entry__c</objectType>
    </variables>
    <variables>
        <name>tsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tsPlacement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tsStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tsStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
